body {
  background: linear-gradient(to bottom right, white, green);
}
.all {
  padding: 0 10px 5px 20px;
  border: solid black 2px;
  border-radius: 5px;
  margin: 20px;
  width: 300px;
  background: linear-gradient(to bottom right, white, lightgrey);
}
h1 {
  font-size: 80px;
  font-family: sans-serif;
  margin: 20px;
}
h2 {
  font-size: 25px;
  font-family: sans-serif;
}
button {
  font-size: 20px;
  font-family: sans-serif;
  margin: 20px 0 0 130px;
  background-color: white;
  border: solid black 1px;
  border-radius: 5px;
}
label {
  font-family: sans-serif;
}
input {
  font-family: sans-serif;
}
p {
font-family: sans-serif;
}
.results {
  padding: 0 10px 5px 20px;
  border: solid black 2px;
  border-radius: 5px;
  margin: 20px;
  width: 500px;
  background: linear-gradient(to bottom right, white, lightgrey);
}
.saved {
  padding: 0 10px 5px 20px;
  border: solid black 2px;
  border-radius: 5px;
  margin: 20px;
  width: 300px;
  background: linear-gradient(to bottom right, white, lightgrey);
}
.inputcar {
padding: 0 10px 5px 20px;
  border: solid black 2px;
  border-radius: 5px;
  margin: 20px;
  width: 300px;
  background: linear-gradient(to bottom right, white, lightgrey);
}
